body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

thead th {
    background-color: yellow;
    font-size: 1.2em;
}

thead th span {
    display: block;
    font-size: 0.9em;
    margin-top: 5px;
}

tbody th {
    background-color: yellow;
    font-size: 1.2em;
}

tbody td span {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
}

.home {
    background-color: pink;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

tbody td {
    background-color: #f3eeee;
}

tbody td:hover {
    background-color: #f7faf7;
}

td.time {
    background-color: rgb(67, 43, 222);
}

